@tailwind components;
@tailwind base;
@tailwind utilities;


/* Own Class */

.absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}



/*  OverWrite */

/* handle Positions */
.react-flow__handle-left {
  left: -15px;
}

.react-flow__handle-right {
  right: -15px;
}

/* Handle Shape */
.react-flow__handle {
  position: absolute;
  pointer-events: none;
  min-width: 5px;
  min-height: 5px;
  width: 10px;
  height: 10px;
  border-radius: 0%;
  cursor: default;
}


/* Removing WaterMark */
.react-flow__attribution {
  display: none;
}